<a href="https://colab.research.google.com/github/javilledo/MachineLearning/blob/master/Predicci%C3%B3nTiempoMarat%C3%B3n_Regresi%C3%B3nLineal.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Modelo de ML para predecir el tiempo en una Maratón**

**Carga de datos**

A continuación importamos los datos que hemos descargado, y que contienen diferentes datos correspondientes a una Maratón (https://www.kaggle.com/girardi69/marathon-time-predictions/data).

In [1]:
from google.colab import files
uploaded = files.upload()

Saving datasets_1266_2257_MarathonData.csv to datasets_1266_2257_MarathonData.csv

**Tratamiento de datos**

Tomamos los datos subidos para poder trabajar con ellos.

In [3]:
import io
import pandas as pd
datos_maraton = pd.read_csv(io.BytesIO(uploaded['datasets_1266_2257_MarathonData.csv']))

Para visualizar los datos simplemente llamamos a la variable donde hemos guardado todos esos datos.

In [4]:
datos_maraton

    id  Marathon              Name  ... Wall21  MarathonTime  CATEGORY
0    1  Prague17      Blair MORGAN  ...   1.16          2.37         A
1    2  Prague17     Robert Heczko  ...   1.23          2.59         A
2    3  Prague17     Michon Jerome  ...   1.30          2.66         A
3    4  Prague17     Daniel Or lek  ...   1.32          2.68         A
4    5  Prague17      Luk ? Mr zek  ...   1.36          2.74         A
..  ..       ...               ...  ...    ...           ...       ...
82  83  Prague17  Stefano Vegliani  ...   2.02          3.93         D
83  84  Prague17    Andrej Madliak  ...   1.94          3.93         D
84  85  Prague17        Yoi Ohsako  ...   1.94          3.94         D
85  86  Prague17        Simon Dunn  ...   2.05          3.95         D
86  87  Prague17       Pavel ?imek  ...   2.05          3.98         D

[87 rows x 10 columns]

Si quisiéramos simplemente extraer una de las columnas, debemos indicar en los corchetes el nombre del campo al que nos referimos.

In [7]:
datos_maraton['Name']

0         Blair MORGAN
1        Robert Heczko
2        Michon Jerome
3        Daniel Or lek
4         Luk ? Mr zek
            ...
82    Stefano Vegliani
83      Andrej Madliak
84          Yoi Ohsako
85          Simon Dunn
86         Pavel ?imek
Name: Name, Length: 87, dtype: object

Para saber datos sobre los tipos de datos que hay en cada una de los campos, sería con info().

In [9]:
datos_maraton.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87 entries, 0 to 86
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             87 non-null     int64
 1   Marathon       87 non-null     object
 2   Name           87 non-null     object
 3   Category       81 non-null     object
 4   km4week        87 non-null     float64
 5   sp4week        87 non-null     float64
 6   CrossTraining  13 non-null     object
 7   Wall21         87 non-null     object
 8   MarathonTime   87 non-null     float64
 9   CATEGORY       87 non-null     object
dtypes: float64(3), int64(1), object(6)
memory usage: 6.9+ KB

Por alguna razón correspondiente a los datos empleados, no está reconociendo como numéricos los datos de 'Wall21', que sí que lo son, por lo que aplicaremos un tratamiento que se encuentra en la librería de panda.

In [10]:
datos_maraton['Wall21'] = pd.to_numeric(datos_maraton['Wall21'],errors='coerce')

In [13]:
datos_maraton.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87 entries, 0 to 86
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             87 non-null     int64
 1   Marathon       87 non-null     object
 2   Name           87 non-null     object
 3   Category       81 non-null     object
 4   km4week        87 non-null     float64
 5   sp4week        87 non-null     float64
 6   CrossTraining  13 non-null     object
 7   Wall21         81 non-null     float64
 8   MarathonTime   87 non-null     float64
 9   CATEGORY       87 non-null     object
dtypes: float64(4), int64(1), object(5)
memory usage: 6.9+ KB

Para obtener información estadística sobre los datos puede usarse el comando describe()

In [14]:
datos_maraton.describe()

              id     km4week       sp4week     Wall21  MarathonTime
count  87.000000   87.000000     87.000000  81.000000     87.000000
mean   44.000000   62.347126    139.840706   1.630617      3.319080
std    25.258662   26.956019   1191.427864   0.210490      0.376923
min     1.000000   17.900000      8.031414   1.160000      2.370000
25%    22.500000   44.200000     11.498168   1.450000      3.045000
50%    44.000000   58.800000     12.163424   1.620000      3.320000
75%    65.500000   77.500000     12.854036   1.760000      3.605000
max    87.000000  137.500000  11125.000000   2.050000      3.980000