<a href="https://colab.research.google.com/github/javilledo/machine-learning/blob/master/notebooks/agrupaci%C3%B3n_kmeans_wholesale_customers_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#AGRUPACIÓN DE DATOS COMUNES EMPLEANDO K-MEANS

La siguiente prueba consiste en tratar de buscar agrupamientos de productos comunes a partir del dataset "Wholesale Customers Data Set", en el que se detallan diferentes compras de algunos productos.

In [3]:
#IMPORTACIÓN DE LIBRERÍAS
import pandas as pd

In [4]:
#DESCARGA DE DATOS
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/00292/Wholesale%20customers%20data.csv'
data = pd.read_csv(url)
data.head()

   Channel  Region  Fresh  Milk  Grocery  Frozen  Detergents_Paper  Delicassen
0        2       3  12669  9656     7561     214              2674        1338
1        2       3   7057  9810     9568    1762              3293        1776
2        2       3   6353  8808     7684    2405              3516        7844
3        1       3  13265  1196     4221    6404               507        1788
4        2       3  22615  5410     7198    3915              1777        5185