<a href="https://colab.research.google.com/github/javilledo/machine-learning/blob/master/notebooks/t01_01_data_cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**CARGA DE DATOS A TRAVÉS DE LA FUNCIÓN *read_csv***

Carga de librerías

In [ ]:
import pandas as pd

*CARGAR DATOS DESDE LOCAL (CSV)*

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving titanic3.csv to titanic3 (1).csv

In [ ]:
import io
csv_from_local = pd.read_csv(io.BytesIO(uploaded['titanic3.csv']))

*CARGAR DATOS DESDE URL (CSV)*

Ojo, la URL si es de GitHub debe ser RAW

In [ ]:
url ='https://raw.githubusercontent.com/javilledo/python-ml-course/master/datasets/titanic/titanic3.csv'
csv_from_url = pd.read_csv(url)

*VER DATOS DE LAS PRIMERAS FILAS*

In [ ]:
csv_from_local.head()

   pclass  survived  ...   body                        home.dest
0       1         1  ...    NaN                     St Louis, MO
1       1         1  ...    NaN  Montreal, PQ / Chesterville, ON
2       1         0  ...    NaN  Montreal, PQ / Chesterville, ON
3       1         0  ...  135.0  Montreal, PQ / Chesterville, ON
4       1         0  ...    NaN  Montreal, PQ / Chesterville, ON

[5 rows x 14 columns]

In [ ]:
csv_from_url.head()

   pclass  survived  ...   body                        home.dest
0       1         1  ...    NaN                     St Louis, MO
1       1         1  ...    NaN  Montreal, PQ / Chesterville, ON
2       1         0  ...    NaN  Montreal, PQ / Chesterville, ON
3       1         0  ...  135.0  Montreal, PQ / Chesterville, ON
4       1         0  ...    NaN  Montreal, PQ / Chesterville, ON

[5 rows x 14 columns]

*CARGAR DATOS DESDE LOCAL (TXT)*

Ojo, al ser un txt con los datos separados por comas sigue valiendo el read_csv

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving Customer Churn Model.txt to Customer Churn Model (1).txt

In [ ]:
import io
txt_from_local = pd.read_csv(io.BytesIO(uploaded['Customer Churn Model.txt']))

In [ ]:
txt_from_local.head()

  State  Account Length  Area Code  ... Intl Charge CustServ Calls  Churn?
0    KS             128        415  ...        2.70              1  False.
1    OH             107        415  ...        3.70              1  False.
2    NJ             137        415  ...        3.29              0  False.
3    OH              84        408  ...        1.78              2  False.
4    OK              75        415  ...        2.73              3  False.

[5 rows x 21 columns]

*CARGAR DATOS DESDE URL (CSV)*

Ojo, la URL si es de GitHub debe ser RAW

In [71]:
url= 'https://raw.githubusercontent.com/javilledo/python-ml-course/master/datasets/customer-churn-model/Customer%20Churn%20Model.txt'
txt_from_url = pd.read_csv(url)

In [72]:
txt_from_url.head()

  State  Account Length  Area Code  ... Intl Charge CustServ Calls  Churn?
0    KS             128        415  ...        2.70              1  False.
1    OH             107        415  ...        3.70              1  False.
2    NJ             137        415  ...        3.29              0  False.
3    OH              84        408  ...        1.78              2  False.
4    OK              75        415  ...        2.73              3  False.

[5 rows x 21 columns]

***TRABAJAR CON LOS DATASETS***

COMPROBAR LOS NOMBRES DE LOS CAMPOS (*.columns.values*)

In [ ]:
csv_from_local.columns.values

array(['pclass', 'survived', 'name', 'sex', 'age', 'sibsp', 'parch',
       'ticket', 'fare', 'cabin', 'embarked', 'boat', 'body', 'home.dest'],
      dtype=object)

In [ ]:
csv_from_url.columns.values

array(['pclass', 'survived', 'name', 'sex', 'age', 'sibsp', 'parch',
       'ticket', 'fare', 'cabin', 'embarked', 'boat', 'body', 'home.dest'],
      dtype=object)

In [ ]:
txt_from_local.columns.values

array(['State', 'Account Length', 'Area Code', 'Phone', "Int'l Plan",
       'VMail Plan', 'VMail Message', 'Day Mins', 'Day Calls',
       'Day Charge', 'Eve Mins', 'Eve Calls', 'Eve Charge', 'Night Mins',
       'Night Calls', 'Night Charge', 'Intl Mins', 'Intl Calls',
       'Intl Charge', 'CustServ Calls', 'Churn?'], dtype=object)

In [ ]:
txt_from_url.columns.values

array(['State', 'Account Length', 'Area Code', 'Phone', "Int'l Plan",
       'VMail Plan', 'VMail Message', 'Day Mins', 'Day Calls',
       'Day Charge', 'Eve Mins', 'Eve Calls', 'Eve Charge', 'Night Mins',
       'Night Calls', 'Night Charge', 'Intl Mins', 'Intl Calls',
       'Intl Charge', 'CustServ Calls', 'Churn?'], dtype=object)

Podemos tener los nombres de las columnas en otro archivo independiente, y lo que haremos en ese caso es cargarlo y luego sustituir el conjunto de datos.

In [ ]:
url_columns='https://raw.githubusercontent.com/javilledo/python-ml-course/master/datasets/customer-churn-model/Customer%20Churn%20Columns.csv'
txt_from_url_columns = pd.read_csv(url_columns)
txt_from_url_columns

   Column_Names
0             A
1             B
2             C
3             D
4             E
5             F
6             G
7             H
8             I
9             J
10            K
11            L
12            M
13            N
14            O
15            P
16            Q
17            R
18            S
19            T
20            U

In [ ]:
data_cols_list = txt_from_url_columns['Column_Names'].tolist()
data_cols_list

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U']

Ahora lo que haremos es, que a la hora de cargar nuestro archivo de datos, realizaremos la sustitución de la cabecera por esta nueva.
Antes comprobaremos que las dimensiones de los elementos son compatibles

In [ ]:
txt_from_url.shape

(3333, 21)

In [ ]:
txt_from_url_columns.shape

(21, 1)

In [ ]:
txt_from_url_con_nuevas_cabeceras = pd.read_csv(url, header=None, names=data_cols_list)
txt_from_url_con_nuevas_cabeceras

                                                      A   B   C  ...   S   T   U
0     State,Account Length,Area Code,Phone,Int'l Pla... NaN NaN  ... NaN NaN NaN
1     KS,128,415,382-4657,no,yes,25,265.100000,110,4... NaN NaN  ... NaN NaN NaN
2     OH,107,415,371-7191,no,yes,26,161.600000,123,2... NaN NaN  ... NaN NaN NaN
3     NJ,137,415,358-1921,no,no,0,243.400000,114,41.... NaN NaN  ... NaN NaN NaN
4     OH,84,408,375-9999,yes,no,0,299.400000,71,50.9... NaN NaN  ... NaN NaN NaN
...                                                 ...  ..  ..  ...  ..  ..  ..
3329  AZ,192,415,414-4276,no,yes,36,156.200000,77,26... NaN NaN  ... NaN NaN NaN
3330  WV,68,415,370-3271,no,no,0,231.100000,57,39.29... NaN NaN  ... NaN NaN NaN
3331  RI,28,510,328-8230,no,no,0,180.800000,109,30.7... NaN NaN  ... NaN NaN NaN
3332  CT,184,510,364-6381,yes,no,0,213.800000,105,36... NaN NaN  ... NaN NaN NaN
3333  TN,74,415,400-4344,no,yes,25,234.400000,113,39... NaN NaN  ... NaN NaN NaN

[3334 rows x 21 columns]

***FUNCIÓN OPEN***

Esta función es más óptima a la hora de abrir archivos grandes, por el funcionamiento por lotes que read_csv no tiene.

In [ ]:
#data = open(filename,'r') es para solo lectura, aquí no funciona porque Colab permite subir el archivo

**FUNCIONALIDADES VARIAS:**
* *strip()* elimina los espacios en blanco
* *split(",")* separa en elementos separados por el separador que indiquemos

In [36]:
#importación de librerías
import pandas as pd

#lectura de datos
url_customer = 'https://raw.githubusercontent.com/javilledo/python-ml-course/master/datasets/customer-churn-model/Customer%20Churn%20Model.txt'
data = pd.read_csv(url_customer)

#número de columnas
cols = data.columns
n_columns = len(cols)
print('número de columnas =', n_columns)

número de columnas = 21
(3333, 21)

In [48]:
counter = 0
main_dict = {}

for col in cols:
  main_dict[col] = []

for line in data:
  values = data.iloc[counter]
  for i in range(len(cols)):
    main_dict[cols[i]].append(values[i])
    counter += 1

print('El dataset tiene %d filas y %d columnas' % (counter, n_columns))

#ALGO ESTÁ FALLANDO EN ESTE SCRIPT PORQUE EL RESULTADO DE FILAS DEBERÍA SER 3333, COMO SE PUEDE COMPROBAR
data.shape

# NO OBSTANTE, EL OBJETIVO DE ESTE EJERCICIO ERA PODER TRANSFORMAR EL DATASET DE MANERA MANUAL EN UN DICCIONARIO Y POSTERIORMENTE A UN DATAFRAME, 
# PERO LA FORMA DE OBTENER LOS DATOS YA ERA UN DATAFRAME, CON LO CUAL ERA UN POCO INÚTIL

El dataset tiene 441 filas y 21 columnas

(3333, 21)

In [89]:
## A CONTINUACIÓN SE REHACE CON OPEN Y DE FORMA MANUAL, DESDE LECTURA HASTA DATAFRAME

#importación de librerías
import pandas as pd
from google.colab import files

#lectura de datos
data = open('Customer Churn Model.txt', 'r')

#número de columnas
cols = data.readline().strip().split(',')
n_cols = len(cols)

#número de filas
counter = 0
main_dict = {}
for col in cols:
  main_dict[col] = []
for line in data:
  values = line.strip().split(',')
  for i in range(n_cols):
    main_dict[cols[i]].append(values[i])
  counter += 1
print('El dataset tiene %d filas y %d columnas' % (counter, n_cols))

#creación del dataframe
dataframe = pd.DataFrame(main_dict)

#comprobación del resultado
dataframe

El dataset tiene 3333 filas y 21 columnas

     State Account Length Area Code  ... Intl Charge CustServ Calls  Churn?
0       KS            128       415  ...    2.700000              1  False.
1       OH            107       415  ...    3.700000              1  False.
2       NJ            137       415  ...    3.290000              0  False.
3       OH             84       408  ...    1.780000              2  False.
4       OK             75       415  ...    2.730000              3  False.
...    ...            ...       ...  ...         ...            ...     ...
3328    AZ            192       415  ...    2.670000              2  False.
3329    WV             68       415  ...    2.590000              3  False.
3330    RI             28       510  ...    3.810000              2  False.
3331    CT            184       510  ...    1.350000              2  False.
3332    TN             74       415  ...    3.700000              0  False.

[3333 rows x 21 columns]

## LECTURA Y ESCRITURA DE FICHEROS

In [99]:
#rutas de los archivos de entrada y salida
infile = '/content/Customer Churn Model.txt'
outfile = '/content/Tab Customer Churn Model.txt'

#en infield están separados por comas y en outfield lo queremos por tabulador
with open(infile, 'r') as infile1:
  with open(outfile,'w') as outfile1:
    for line in infile1:
      fields = line.split(',')
      outfile1.write('\t'.join(fields))
      outfile1.write('\n')