<a href="https://colab.research.google.com/github/javilledo/machine-learning/blob/master/notebooks/t02_01_data_cleaning_data_wrangling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# DATA WRANGLING

In [1]:
#importación de librerías
import pandas as pd

#carga de datos
url = 'https://raw.githubusercontent.com/javilledo/python-ml-course/master/datasets/customer-churn-model/Customer%20Churn%20Model.txt'
data = pd.read_csv(url)
data.head()

  State  Account Length  Area Code  ... Intl Charge CustServ Calls  Churn?
0    KS             128        415  ...        2.70              1  False.
1    OH             107        415  ...        3.70              1  False.
2    NJ             137        415  ...        3.29              0  False.
3    OH              84        408  ...        1.78              2  False.
4    OK              75        415  ...        2.73              3  False.

[5 rows x 21 columns]

## EXTRAER UN SUBCONJUNTO DE DATOS

In [2]:
account_length = data['Account Length']
account_length.head()

0    128
1    107
2    137
3     84
4     75
Name: Account Length, dtype: int64

In [3]:
type(account_length)

pandas.core.series.Series

In [5]:
subset = data[['Account Length', 'Phone', 'Eve Charge', 'Day Calls']]
subset.head()

   Account Length     Phone  Eve Charge  Day Calls
0             128  382-4657       16.78        110
1             107  371-7191       16.62        123
2             137  358-1921       10.30        114
3              84  375-9999        5.26         71
4              75  330-6626       12.61        113

In [6]:
type(subset)

pandas.core.frame.DataFrame

In [9]:
desired_columns = ['Account Length','Phone', 'Eve Charge','Day Calls']
subset = data[desired_columns]
subset.head()

   Account Length     Phone  Eve Charge  Day Calls
0             128  382-4657       16.78        110
1             107  371-7191       16.62        123
2             137  358-1921       10.30        114
3              84  375-9999        5.26         71
4              75  330-6626       12.61        113

In [10]:
desired_columns = ['Account Length', 'VMail Message', 'Day Calls']
all_columns_list = data.columns.values.tolist()

In [11]:
desired_columns

['Account Length', 'VMail Message', 'Day Calls']

In [12]:
all_columns_list

['State',
 'Account Length',
 'Area Code',
 'Phone',
 "Int'l Plan",
 'VMail Plan',
 'VMail Message',
 'Day Mins',
 'Day Calls',
 'Day Charge',
 'Eve Mins',
 'Eve Calls',
 'Eve Charge',
 'Night Mins',
 'Night Calls',
 'Night Charge',
 'Intl Mins',
 'Intl Calls',
 'Intl Charge',
 'CustServ Calls',
 'Churn?']

In [14]:
sublist = [x for x in all_columns_list if x not in desired_columns]
sublist

['State',
 'Area Code',
 'Phone',
 "Int'l Plan",
 'VMail Plan',
 'Day Mins',
 'Day Charge',
 'Eve Mins',
 'Eve Calls',
 'Eve Charge',
 'Night Mins',
 'Night Calls',
 'Night Charge',
 'Intl Mins',
 'Intl Calls',
 'Intl Charge',
 'CustServ Calls',
 'Churn?']

In [15]:
subset = data[sublist]
subset.head()

  State  Area Code     Phone  ... Intl Charge CustServ Calls  Churn?
0    KS        415  382-4657  ...        2.70              1  False.
1    OH        415  371-7191  ...        3.70              1  False.
2    NJ        415  358-1921  ...        3.29              0  False.
3    OH        408  375-9999  ...        1.78              2  False.
4    OK        415  330-6626  ...        2.73              3  False.

[5 rows x 18 columns]