<a href="https://colab.research.google.com/github/javilledo/machine-learning/blob/master/notebooks/t02_02_data_cleaning_agrupacion_de_datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# AGREGACIÓN DE DATOS POR CATEGORÍA

In [1]:
import numpy as np
import pandas as pd

In [15]:
gender = ['Male', 'Female']
economic_status = ['Poor', 'Middle Class', 'Rich']

In [16]:
n = 500

gender_data = []
economic_status_data = []

for i in range(0,n):
  gender_data.append(np.random.choice(gender))
  economic_status_data.append(np.random.choice(economic_status))

In [12]:
gender_data[1:10]

['Male',
 'Female',
 'Female',
 'Female',
 'Male',
 'Male',
 'Female',
 'Male',
 'Female']

In [18]:
economic_status_data[1:10]

['Poor',
 'Rich',
 'Poor',
 'Middle Class',
 'Middle Class',
 'Poor',
 'Rich',
 'Rich',
 'Rich']

In [22]:
# N(m,s) = m + s * N(0,1)
height_data = 160 + 30 * np.random.randn(n)
weight_data = 65 + 25 * np.random.randn(n)
age_data = 30 + 12 * np.random.randn(n)
income_data = 18000 + 3500 * np.random.randn(n)

In [23]:
data = pd.DataFrame(
    {
        'Gender': gender_data,
        'Economic Status': economic_status_data,
        'Height': height_data,
        'Weight': weight_data,
        'Age': age_data,
        'Income': income_data      
    }
)
data.head()

   Gender Economic Status      Height     Weight        Age        Income
0  Female            Rich  198.548692  46.490290  48.524958  18819.451318
1  Female            Poor  224.158464  69.609020  29.878947  21913.819247
2  Female            Rich  192.079356  46.564588  21.135322  15167.714374
3    Male            Poor  139.625756  47.526876  41.235206  17112.665822
4    Male    Middle Class  242.785594  72.312758  34.381577  14182.630333

In [28]:
data['Age'] = [int(x) for x in data['Age']] #transformamos edad a entero
data.head()

   Gender Economic Status      Height     Weight  Age        Income
0  Female            Rich  198.548692  46.490290   48  18819.451318
1  Female            Poor  224.158464  69.609020   29  21913.819247
2  Female            Rich  192.079356  46.564588   21  15167.714374
3    Male            Poor  139.625756  47.526876   41  17112.665822
4    Male    Middle Class  242.785594  72.312758   34  14182.630333