<a href="https://colab.research.google.com/github/javilledo/machine-learning/blob/master/notebooks/t02_04_data_cleaning_concatenaci%C3%B3n_de_datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#CONCATENAR Y APENDIZAR DATASETS

In [1]:
import pandas as pd

In [2]:
url_white_wine = 'https://raw.githubusercontent.com/javilledo/python-ml-course/master/datasets/wine/winequality-white.csv'
white_wine_data = pd.read_csv(url_white_wine,sep = ';')

url_red_wine = 'https://raw.githubusercontent.com/javilledo/python-ml-course/master/datasets/wine/winequality-red.csv'
red_wine_data = pd.read_csv(url_red_wine, sep = ';')

In [3]:
print('Hay un total de %s vinos tintos' % len(red_wine_data))
print('Hay un total de %s vinos blancos' % len(white_wine_data))

Hay un total de 1599 vinos tintos
Hay un total de 4898 vinos blancos

In [4]:
red_wine_data.columns.values

array(['fixed acidity', 'volatile acidity', 'citric acid',
       'residual sugar', 'chlorides', 'free sulfur dioxide',
       'total sulfur dioxide', 'density', 'pH', 'sulphates', 'alcohol',
       'quality'], dtype=object)

In [5]:
white_wine_data.columns.values

array(['fixed acidity', 'volatile acidity', 'citric acid',
       'residual sugar', 'chlorides', 'free sulfur dioxide',
       'total sulfur dioxide', 'density', 'pH', 'sulphates', 'alcohol',
       'quality'], dtype=object)

En python existen dos tipos de ejes:
* Axis = 0 denota el eje horizontal
* Axis = 1, denota el eje vertical

In [6]:
wine_data = pd.concat([red_wine_data,white_wine_data], axis = 0)
print('Hay un total de %s vinos' % len(wine_data))

Hay un total de 6497 vinos

Todo esto se llama scramblear, y a continuaci칩n se va a trabajar con ello extrayendo peque침os datasets y combin치ndolos. Es importante el orden con el que se incluyen en concat, ya que ese orden es el que va a usar

In [7]:
data1 = wine_data.head(10)
data2 = wine_data[300:310]
data3 = wine_data.tail(10)
wine_scramble = pd.concat([data1, data2, data3], axis = 0)
wine_scramble

      fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
0               7.4             0.700         0.00  ...       0.56      9.4        5
1               7.8             0.880         0.00  ...       0.68      9.8        5
2               7.8             0.760         0.04  ...       0.65      9.8        5
3              11.2             0.280         0.56  ...       0.58      9.8        6
4               7.4             0.700         0.00  ...       0.56      9.4        5
5               7.4             0.660         0.00  ...       0.56      9.4        5
6               7.9             0.600         0.06  ...       0.46      9.4        5
7               7.3             0.650         0.00  ...       0.47     10.0        7
8               7.8             0.580         0.02  ...       0.57      9.5        7
9               7.5             0.500         0.36  ...       0.80     10.5        5
300             7.5             0.530         0.06  ...       0.59     10.7        6
301            11.1             0.180         0.48  ...       0.64     10.1        6
302             8.3             0.705         0.12  ...       0.72     10.0        5
303             7.4             0.670         0.12  ...       0.54      9.5        5
304             8.4             0.650         0.60  ...       0.52      9.2        5
305            10.3             0.530         0.48  ...       0.59      9.3        6
306             7.6             0.620         0.32  ...       0.52      9.4        5
307            10.3             0.410         0.42  ...       0.62      9.5        6
308            10.3             0.430         0.44  ...       0.63      9.5        6
309             7.4             0.290         0.38  ...       0.53      9.5        6
4888            6.8             0.220         0.36  ...       0.54      9.2        5
4889            4.9             0.235         0.27  ...       0.50      9.4        6
4890            6.1             0.340         0.29  ...       0.44     11.8        6
4891            5.7             0.210         0.32  ...       0.46     10.6        6
4892            6.5             0.230         0.38  ...       0.54      9.7        5
4893            6.2             0.210         0.29  ...       0.50     11.2        6
4894            6.6             0.320         0.36  ...       0.46      9.6        5
4895            6.5             0.240         0.19  ...       0.46      9.4        6
4896            5.5             0.290         0.30  ...       0.38     12.8        7
4897            6.0             0.210         0.38  ...       0.32     11.8        6

[30 rows x 12 columns]

In [8]:
wine_scramble = pd.concat ([data2, data1, data3], axis = 0)
wine_scramble

      fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
300             7.5             0.530         0.06  ...       0.59     10.7        6
301            11.1             0.180         0.48  ...       0.64     10.1        6
302             8.3             0.705         0.12  ...       0.72     10.0        5
303             7.4             0.670         0.12  ...       0.54      9.5        5
304             8.4             0.650         0.60  ...       0.52      9.2        5
305            10.3             0.530         0.48  ...       0.59      9.3        6
306             7.6             0.620         0.32  ...       0.52      9.4        5
307            10.3             0.410         0.42  ...       0.62      9.5        6
308            10.3             0.430         0.44  ...       0.63      9.5        6
309             7.4             0.290         0.38  ...       0.53      9.5        6
0               7.4             0.700         0.00  ...       0.56      9.4        5
1               7.8             0.880         0.00  ...       0.68      9.8        5
2               7.8             0.760         0.04  ...       0.65      9.8        5
3              11.2             0.280         0.56  ...       0.58      9.8        6
4               7.4             0.700         0.00  ...       0.56      9.4        5
5               7.4             0.660         0.00  ...       0.56      9.4        5
6               7.9             0.600         0.06  ...       0.46      9.4        5
7               7.3             0.650         0.00  ...       0.47     10.0        7
8               7.8             0.580         0.02  ...       0.57      9.5        7
9               7.5             0.500         0.36  ...       0.80     10.5        5
4888            6.8             0.220         0.36  ...       0.54      9.2        5
4889            4.9             0.235         0.27  ...       0.50      9.4        6
4890            6.1             0.340         0.29  ...       0.44     11.8        6
4891            5.7             0.210         0.32  ...       0.46     10.6        6
4892            6.5             0.230         0.38  ...       0.54      9.7        5
4893            6.2             0.210         0.29  ...       0.50     11.2        6
4894            6.6             0.320         0.36  ...       0.46      9.6        5
4895            6.5             0.240         0.19  ...       0.46      9.4        6
4896            5.5             0.290         0.30  ...       0.38     12.8        7
4897            6.0             0.210         0.38  ...       0.32     11.8        6

[30 rows x 12 columns]

#DATOS DISTRIBUIDOS
Se tratar치 en este apartado c칩mo aglutinar en un 칰nico Dataset datos provenientes de diferentes archivos, por ejemplo, lecturas de diferentes sensores

In [9]:
import pandas as pd

#Inicialmente analizaremos el primer fichero para ver c칩mo est치 organizado
url_general ='https://raw.githubusercontent.com/javilledo/python-ml-course/master/datasets/distributed-data/' 
filename = '001.csv'
url_001 = url_general + filename
data_001 = pd.read_csv(url_001)
print(data_001.head())
print(data_001.shape)
#matriz sparse significa que la mayor칤a de datos no aparecen

         Date  sulfate  nitrate  ID
0  2003-01-01      NaN      NaN   1
1  2003-01-02      NaN      NaN   1
2  2003-01-03      NaN      NaN   1
3  2003-01-04      NaN      NaN   1
4  2003-01-05      NaN      NaN   1
(1461, 4)

## SECUENCIA A EJECUTAR
* Importar el primer fichero
* Hacer bucle para ir recorriendo todos y cada uno de los ficheros.
 * Importante tener consistencia en nombre de ficheros.
 * Importar ficheros uno a uno
 * Cada uno de ellos debe apendizarse al primer fichero
* Repetimos el bucle hasta que no queden ficheros

In [11]:
import pandas as pd

url_base = 'https://raw.githubusercontent.com/javilledo/python-ml-course/master/datasets/distributed-data/' 
filename = '001.csv'
url = url_general + filename
data = pd.read_csv(url)

final_len = len(data)

for i in range(2,333):
  if i < 10:
    filename = '00' + str(i) + '.csv'
  elif i < 100:
    filename = '0' + str(i) + '.csv'
  else:
    filename = str(i) + '.csv'
  url = url_general + filename
  datafile = pd.read_csv(url)
  final_len += len(datafile)
  data = pd.concat([data, datafile], axis = 0)
  final_len

In [12]:
final_len == data.shape[0]

True

In [13]:
data.shape

(772087, 4)

In [14]:
data.head()

         Date  sulfate  nitrate  ID
0  2003-01-01      NaN      NaN   1
1  2003-01-02      NaN      NaN   1
2  2003-01-03      NaN      NaN   1
3  2003-01-04      NaN      NaN   1
4  2003-01-05      NaN      NaN   1

In [15]:
data.tail()

           Date  sulfate  nitrate   ID
726  2004-12-27      NaN      NaN  332
727  2004-12-28      NaN      NaN  332
728  2004-12-29      NaN      NaN  332
729  2004-12-30      NaN      NaN  332
730  2004-12-31      NaN      NaN  332

#JOINS DE DATASETS