<a href="https://colab.research.google.com/github/javilledo/machine-learning/blob/master/notebooks/t02_01_data_cleaning_data_wrangling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# DATA WRANGLING

In [1]:
#importación de librerías
import pandas as pd

#carga de datos
url = 'https://raw.githubusercontent.com/javilledo/python-ml-course/master/datasets/customer-churn-model/Customer%20Churn%20Model.txt'
data = pd.read_csv(url)
data.head()

  State  Account Length  Area Code  ... Intl Charge CustServ Calls  Churn?
0    KS             128        415  ...        2.70              1  False.
1    OH             107        415  ...        3.70              1  False.
2    NJ             137        415  ...        3.29              0  False.
3    OH              84        408  ...        1.78              2  False.
4    OK              75        415  ...        2.73              3  False.

[5 rows x 21 columns]

## EXTRAER UN SUBCONJUNTO DE DATOS

In [2]:
account_length = data['Account Length']
account_length.head()

0    128
1    107
2    137
3     84
4     75
Name: Account Length, dtype: int64

In [3]:
type(account_length)

pandas.core.series.Series

In [5]:
subset = data[['Account Length', 'Phone', 'Eve Charge', 'Day Calls']]
subset.head()

   Account Length     Phone  Eve Charge  Day Calls
0             128  382-4657       16.78        110
1             107  371-7191       16.62        123
2             137  358-1921       10.30        114
3              84  375-9999        5.26         71
4              75  330-6626       12.61        113

In [6]:
type(subset)

pandas.core.frame.DataFrame

In [9]:
desired_columns = ['Account Length','Phone', 'Eve Charge','Day Calls']
subset = data[desired_columns]
subset.head()

   Account Length     Phone  Eve Charge  Day Calls
0             128  382-4657       16.78        110
1             107  371-7191       16.62        123
2             137  358-1921       10.30        114
3              84  375-9999        5.26         71
4              75  330-6626       12.61        113

In [10]:
desired_columns = ['Account Length', 'VMail Message', 'Day Calls']
all_columns_list = data.columns.values.tolist()

In [11]:
desired_columns

['Account Length', 'VMail Message', 'Day Calls']

In [12]:
all_columns_list

['State',
 'Account Length',
 'Area Code',
 'Phone',
 "Int'l Plan",
 'VMail Plan',
 'VMail Message',
 'Day Mins',
 'Day Calls',
 'Day Charge',
 'Eve Mins',
 'Eve Calls',
 'Eve Charge',
 'Night Mins',
 'Night Calls',
 'Night Charge',
 'Intl Mins',
 'Intl Calls',
 'Intl Charge',
 'CustServ Calls',
 'Churn?']

In [14]:
sublist = [x for x in all_columns_list if x not in desired_columns]
sublist

['State',
 'Area Code',
 'Phone',
 "Int'l Plan",
 'VMail Plan',
 'Day Mins',
 'Day Charge',
 'Eve Mins',
 'Eve Calls',
 'Eve Charge',
 'Night Mins',
 'Night Calls',
 'Night Charge',
 'Intl Mins',
 'Intl Calls',
 'Intl Charge',
 'CustServ Calls',
 'Churn?']

In [15]:
subset = data[sublist]
subset.head()

  State  Area Code     Phone  ... Intl Charge CustServ Calls  Churn?
0    KS        415  382-4657  ...        2.70              1  False.
1    OH        415  371-7191  ...        3.70              1  False.
2    NJ        415  358-1921  ...        3.29              0  False.
3    OH        408  375-9999  ...        1.78              2  False.
4    OK        415  330-6626  ...        2.73              3  False.

[5 rows x 18 columns]

In [26]:
#otra forma de hacerlo
a = set(desired_columns)
b = set(all_columns_list)
sublist = b - a
sublist = list(sublist)
subset = data[sublist]
subset.head()

   Eve Charge State  Day Charge  ...  Night Mins Intl Charge  Area Code
0       16.78    KS       45.07  ...       244.7        2.70        415
1       16.62    OH       27.47  ...       254.4        3.70        415
2       10.30    NJ       41.38  ...       162.6        3.29        415
3        5.26    OH       50.90  ...       196.9        1.78        408
4       12.61    OK       28.34  ...       186.9        2.73        415

[5 rows x 18 columns]

In [34]:
# si en lugar de hacer subconjuntos de columnas queremos de filas:
data[4:12] # OJO QUE EMPIEZA POR 0, AMBOS VALORES SON POSICIONES PERO EL FINAL NO SE INCLUYE

   State  Account Length  Area Code  ... Intl Charge CustServ Calls  Churn?
4     OK              75        415  ...        2.73              3  False.
5     AL             118        510  ...        1.70              0  False.
6     MA             121        510  ...        2.03              3  False.
7     MO             147        415  ...        1.92              0  False.
8     LA             117        408  ...        2.35              1  False.
9     WV             141        415  ...        3.02              0  False.
10    IN              65        415  ...        3.43              4   True.
11    RI              74        415  ...        2.46              0  False.

[8 rows x 21 columns]

In [43]:
# si se quiere filtrar las filas por una condición
# usuarios con Total Mins > 300 mins
data1 = data[data['Day Mins'] > 300]
data1

     State  Account Length  Area Code  ... Intl Charge CustServ Calls  Churn?
15      NY             161        415  ...        1.46              4   True.
76      DC              82        415  ...        3.16              0   True.
156     OH              83        415  ...        4.27              0   True.
197     TX             208        510  ...        2.89              2   True.
230     MD              93        408  ...        2.84              0   True.
289     OK              89        510  ...        1.43              1   True.
365     CO             154        415  ...        2.73              1   True.
534     LA              67        510  ...        2.48              4  False.
575     SD             114        415  ...        3.83              1  False.
605     MO             112        415  ...        3.43              2   True.
688     MN              13        510  ...        3.27              3  False.
732     IN              48        510  ...        1.94              2  False.
815     KY              75        415  ...        1.54              2   True.
832     SC              87        408  ...        2.54              2   True.
901     CT              23        510  ...        3.05              2   True.
975     DE             129        510  ...        2.81              0   True.
985     NY              64        415  ...        3.59              1   True.
1078    ME              80        408  ...        1.81              0   True.
1165    VT              50        415  ...        2.16              0  False.
1334    KS             126        408  ...        2.16              1   True.
1355    TX              50        408  ...        3.67              3  False.
1679    OK              82        510  ...        2.86              0   True.
1830    CT              50        408  ...        2.84              1  False.
2028    SD              93        510  ...        2.35              1   True.
2215    MS              13        415  ...        3.11              0   True.
2259    NC             210        415  ...        2.73              3  False.
2267    MS              29        510  ...        3.46              2   True.
2376    NV              42        415  ...        1.57              1   True.
2412    WI              89        415  ...        2.03              1   True.
2478    TN             123        415  ...        3.56              1  False.
2572    MN             152        415  ...        2.81              1   True.
2573    WV             124        415  ...        3.46              1   True.
2594    OH             115        510  ...        3.19              1   True.
2629    NH             141        415  ...        1.81              1   True.
2660    NJ              88        415  ...        3.62              4   True.
2677    IA              44        415  ...        1.97              4   True.
2696    MI              74        415  ...        3.32              3   True.
2824    OR              81        415  ...        3.54              0   True.
2858    AL             141        510  ...        2.00              1  False.
3072    TX              75        415  ...        2.30              0   True.
3132    NC             161        415  ...        2.11              2   True.
3207    DC              93        408  ...        3.16              0  False.
3322    MD              62        408  ...        3.11              4   True.

[43 rows x 21 columns]

In [38]:
#usuarios de Nueva York (State = 'NY')
data2 = data[data['State'] == 'NY']
data2

     State  Account Length  Area Code  ... Intl Charge CustServ Calls  Churn?
15      NY             161        415  ...        1.46              4   True.
77      NY             144        408  ...        2.21              4   True.
136     NY              75        415  ...        1.43              5  False.
182     NY              67        408  ...        2.67              2  False.
186     NY             106        408  ...        2.75              1  False.
...    ...             ...        ...  ...         ...            ...     ...
3219    NY             150        415  ...        2.38              2  False.
3227    NY             209        415  ...        2.89              0  False.
3257    NY             171        415  ...        3.59              2  False.
3275    NY             120        510  ...        0.00              1  False.
3310    NY              94        415  ...        3.67              2  False.

[83 rows x 21 columns]

In [42]:
# AND ---> &
# usuarios de Nueva York con Day Mins > 300 
data3 = data[(data['State'] == 'NY') & (data['Day Mins'] > 300)]
data3

    State  Account Length  Area Code  ... Intl Charge CustServ Calls Churn?
15     NY             161        415  ...        1.46              4  True.
985    NY              64        415  ...        3.59              1  True.

[2 rows x 21 columns]

In [45]:
# OR ---> |
data4 = data[(data['Day Mins'] > 300) | (data['State'] == 'NY')]
data4.shape

(124, 21)

In [48]:
#filtrado donde las llamadas de noche superen las de día
data5 = data[data['Night Calls'] > data['Day Calls']]
data5.shape

(1626, 21)

In [50]:
data6 = data[data['Night Mins'] > data['Day Mins']]
data6.shape

(2051, 21)